#breadcrumbs {
    height: 3rem;
    line-height: 3rem;
    padding-left: 3rem;
}
#breadcrumbs ol {
    list-style: none;
    margin: 0;
}
#breadcrumbs li {
    display: inline-block;
}
#breadcrumbs i {
    display: inline-block;
    width: 20px;
    text-align: center;
}
#breadcrumbs li i {
    margin-left: 1rem;
    margin-right: 1rem;
}

